/* Prevent adjustments of font size after orientation changes.  */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: $defaultFont;
  font-weight: $boldWeight;
  color: $fontColor;
  background-color: #f5f5f5;
}

// Header Styling
#headerWrapper {
  background-color: $primaryColor;
  color: white;
  position: relative;
  padding: 1rem $gutter;
}

header {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

header h1 {
  padding-left: 0;
  margin: 0;
  font-size: 1.4rem;
  font-weight: $normalWeight;
}

// Phone-link and Phone-icon styles
#phone-link-container,
#phone-icon {
  position: absolute;
  right: 0;
  text-align: center;
  margin: 0;
  padding-right: 15px;
}

// Style for the phone number link
.phone-link {
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-family: $navFont;
  padding-right: 1px;
}

.phone-link:hover {
  text-decoration: underline;
}

// Hide phone number on small screens
#phone-link-container {
  display: none;
}

// Display Phone Icon for small screens
#phone-icon {
  display: block;
}

#phone-icon img {
  width: 40px;
  height: 40px;
}

// Navigation
#navWrapper {
  background-color: $secondaryColor;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

nav li.active {
  background-color: #676767;
  transition: background-color 0.1s ease-in-out;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

nav li.active:hover {
  background-color: #818181;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}

nav a {
  display: block;
  padding: 0.75rem;
  color: white;
  text-decoration: none;
  font-family: $navFont;
  font-weight: $navFontWeight;
  font-size: 1.2rem;
}

nav a:hover {
  color: #f5f5f5;
}

// Main styling
h1 {
  padding-left: 16px;
}

h2 {
  background-color: $primaryColor;
  margin: 0;
  padding: 4px 0 6px 0;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  text-align: center;
  font-size: 21px;
  color: #ffffff;
}

h3 {
  background-color: #474747;
  margin-top: -1.5px;
  padding: 4px 0 6px 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  text-align: center;
  color: #ffffff;
}

section {
  display: grid;
  grid-template-columns: 1fr;
}

section div {
  width: 100%;
  padding: 1rem $gutter;
}

#mainWrapper img {
  width: 100%;
  height: auto;
  margin-bottom: -3px;
}

// Footer
#footerWrapper {
  background-color: $primaryColor;
}

footer {
  padding: 0.5rem $gutter;
  p {
    color: #ffffff;
    margin: 0;
    font-family: $navFont;
    text-align: center;
  }
}
