$primaryColor: #919191; // Temp //
$secondaryColor: #e2e2e2;
$fontColor: #241818;

// Nav
$navFont: "Lato", sans-serif;
$navFontWeight: 700;
//Body
$defaultFont: "Playfair Display", serif;
$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 600;

$gutter: 16px;
